<h2 >GENRE LIST</h2>
  <% for genre in @genres %>
   <p>Genre : <%=genre.name()%> </p>
    <a class="btn btn--action" href="/genres/<%= genre.id %>">Show all books for this genre</a>
    <a class="btn btn--action" href="/genres/<%= genre.id %>/edit">Edit </a>
   <hr>
 <% end %>
