.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Oswald', sans-serif;
}



.btn--action:hover {
  background-color: grey;
}

.btn--action {
  background-color: grey;
}

.btn--wrapper {
  margin: 0px 0px 10px 0px;
}
