input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 5px 0;
 font-size: 1.5 em;
 -webkit-appearance: none;
 background: 96% / 15% no-repeat papayawhip;
 font-family: 'Oswald', sans-serif;
 border: 1px solid #eee;
 display: block;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
