<main  class="flex flex--row">
  <nav class = "label">
    <ul>
      <form action="/authors/<%=@author.id%>" method="POST">
      <li>
        <label  for="name" >NAME :</label>
          <input id="name" type="text" name="name" value ="<%=@author.name%>" required/>


      <li><input type='submit' value="EDIT"/>
      </li>
</form>

    </ul>
  </nav>
</main>
