<h2 >AUTHOR LIST</h2>
  <% for author in @authors %>
 <p>Author : <%=author.name()%> </p>
 <p class="btn--wrapper">
   <a class="btn btn--action" href="/authors/<%= author.id %>">Show all books for this author</a>
   <a class="btn btn--action" href="/authors/<%= author.id %>/edit">Edit</a>

 </p>
 <hr>
 <% end %>
