<main  class="flex flex--row">
  <nav class = "label">
    <ul>
      <form action="/authors" method="POST">
        <li>
          <label  for="name" >NAME :</label>
          <input id="name" type="text" name="name" required/>
        </li>

        <li>
          <input id="submit" type='submit' value="ADD"/>
        </li>
      </form>
    </ul>
  </nav>
</main>
