<h2 >PUBLISHERS LIST</h2>
  <% for publisher in @publishers %>
   <p>Publisher : <%=publisher.name()%> </p>
   <p>Status : <%= publisher.active_publisher? ? "Active" : "Not active"%></p>

     <a class="btn btn--action" href="/publishers/<%= publisher.id %>">Show all books for this publisher</a>
     <a class="btn btn--action" href="/publishers/<%= publisher.id %>/edit">Edit</a>

   <hr>
  <% end %>
